/*
 * Все паршалы импортировать в этот файл
 */
// @import'main.scss'
@import "normalize.scss";
@import "product.scss";

// $variable:white; use color:$variable
$white: #fff;
$yellow: #ffc92f;
$red: #d82727;
$black: #1b1b1b;
$grey: #808080;
$mainBackground: #e8c7e2;
$generalFont: "Chelsea Market", cursive;
$titleFont: "Chilanka", cursive;
$textFont: "Lemonada", cursive;

// %button{color:red;} use .button{@extend %button}

// general outline styles
// btn{width; height; padding; margin;}

// general design styles
// btn-red{color; border; bgnd}

%button {
    text-transform: uppercase;
    font-size: 24px;
    padding: 2px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        color: $white;
        background-color: $red;
    }
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    // font-size: 16px;
    // line-height: 1.42;
    // font-family: "Roboto", Arial, sans-serif;
    color: $black;
    // Сглаживание шрифтов
    -webkit-font-snoothing: antialiased;
    -moz-osx-font-snoothing: grayscale;
}
ul {
    margin: 0;
    padding: 0;
    & > li {
        list-style: none;
    }
}

//     .wrapper {
//     overflow: hidden;
//     min-width: 1320px;
// }
// .container {
//     margin: 0 auto;
//     max-width: 1320px;
// }

.hero {
    position: relative;
    // height: 100%;
    margin-bottom: 150px;
    min-height: 100vh;
    background: url(../images/hero-pic.jpg) center center / cover no-repeat;
    // background-image: url(../images/green.jpg);
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;

    .header {
        margin: 0 auto 25px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 75px;
        .logo {
            // margin-bottom: 25px;
        }
        .mail {
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            background: $black;
            padding: 5px;
            border-radius: 5px;

            &__title {
                color: $yellow;
                margin-bottom: 3px;
            }
            &__contant {
                background-color: $black;
                color: $white;
            }
        }
    }

    .fade-slider {
        width: 100%;
        height: 90%;
        position: relative;

        &__container {
            position: relative;
            width: 100%;
            height: 600px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        // &:before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     width: 100%;
        //     top: 75px;
        //     left:0;
        //     // height: auto;
        //     // bottom: 10%;
        //     // right: 0%;
        //     background: url(../images/slider-pic.png) center left / contain no-repeat;
        //     z-index: 100;
        //     transform: rotate(-20deg);
        // }

        &__item {
            // opacity: 0;
            position: absolute;
            top: 275px;
            width: 100%;
            min-height: 500px;
            background: center left / contain no-repeat;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 20px;
            transition: opacity 1s;
            &--slide-first {
                background-image: url(../images/slide-first.jpg);
            }
            &--slide-second {
                background-image: url(../images/slide-second.jpg);
            }
            &--slide-third {
                background-image: url(../images/slide-third.jpg);
            }
            &--slide-fourth {
                background-image: url(../images/slide-fourth.jpg);
            }
            &--visible {
                opacity: 1;
            }
        }
        &__text {
            // fixation absolute text for reuse
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-150%, -100%);
            .lined-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                line-height: 1;
                color: $white;
                font-size: 36px;
                text-transform: uppercase;
                &__word:nth-child(2n) {
                    margin-left: 10px;
                }
                &__word {
                    background-color: $black;
                    display: inline-block;
                    &--color-yellow {
                        color: $yellow;
                        background-color: $black;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        min-height: 75px;
        background: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: width 0.7s;
        &--opened {
            width: 100%;
            height: 100%;
            padding: 0 3% 0 4%;
        }
        &--opened .sidebar__header {
            display: flex;
        }
        &--opened .sidebar {
            position: absolute;
            width: 100%;
            text-align: center;
        }
        &--opened .sidebar__menu {
            position: static;
            text-align: center;
        }
        &__menu {
            position: absolute;
            left: -500px;
        }
        &__hamburger {
            display: block;
            position: absolute;
            top: 27px;
            left: 50%;
            transform: translateX(-50%);
        }
        &--opened .sidebar__hamburger {
            display: none;
        }
        &__hamburger-icon {
            width: 30px;
            height: 30px;
            fill: $yellow;
            &:hover {
                fill: $red;
            }
        }
        &__header {
            display: none;
        }
        &__close {
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
        }
        &__close-icon {
            width: 30px;
            height: 30px;
            fill: $yellow;
            &:hover {
                fill: $red;
            }
        }
        .side-menu {
            &__link {
                font-size: 24px;
                color: $yellow;
                text-transform: uppercase;
                font-family: $titleFont;
                text-decoration: none;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

.products {
    margin-bottom: 160px;
    .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;

        &__item {
            margin-right: 40px;

            &--active .filter__link {
                background-color: #000;
                color: $yellow;

                &:hover {
                    color: $yellow;
                }
            }
        }

        &___item:last-child {
            margin-right: 0;
        }

        &__link {
            text-transform: uppercase;
            font-family: $generalFont;
            font-size: 18px;
            padding: 5px 21px;
            color: $black;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            white-space: nowrap;
            
            &:hover {
                text-decoration: none;
                color: $red;
            }
        }
    }

    .product {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -27px;
            justify-content: center;
        }

        &__item {
            width: 300px;
            height: 350px;
            background-color: $yellow;
            margin-bottom: 35px;
            margin-left: 27px;

            &--color-black {
                background: url(../images/background-black.jpg) center center / cover no-repeat;

                & .product__price {
                    border-bottom-color: $yellow;

                    &-amount {
                        color: $black;
                    }
                }
            }

            &--color-yellow {
                background: url(../images/background-yellow.jpg) center center / cover no-repeat;
            }
            
            &--size-double {
                width: 620px;
                height: 544px;
            }
            position: relative;
        }
        // uneven price figure
        &__price {
            position: absolute;
            left: -15px;
            top: 15px;
            width: 160px;
            // height: 160px; -noheight
            border-bottom: 43px solid $black;
            border-left: 5px solid transparent;
            border-right: 2px solid transparent;
            transform: rotate(-182deg);
            font-family: $generalFont;
        }
        &__price-amount {
            font-size: 30px;
            font-weight: bold;
            color: $white;
            transform: rotate(185deg);
            position: absolute;
            top: 0;
            right: 25px;
        }
        &__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            // img block limit
            display: block;
            max-width: 80%;
            max-height: 80%;
            transform: rotate(25deg);
        }
        &__desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            color: $white;
            font-size: 15px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 23px 35px;
            background: rgba($color: #000000, $alpha: 0.5);
            font-family: $titleFont;
            font-size: 22px;
            //start  hide description behind the visible part
            transform: translateY(100%);
            transition: transform 0.3s;
        }
        &__item:hover .product__desc {
            transform: translateY(0);
        }
        &__content {
            overflow: hidden;
        }
        // end hide description behind the visible part

        &__desc--text {
            text-align: center;
            margin-bottom: 18px;
        }
        &__btn {
            @extend %button;
            background: $black;
            color: $yellow;
        }
    }
}

.collections {
    margin-bottom: 135px;

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__item {
        margin-bottom: 25px;
        min-height: 474px;
        flex: 1;
        overflow: hidden;
        background: url(../images/collections-pic-first.jpg) center left / cover no-repeat;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item:nth-child(2n) {
        background: url(../images/collections-pic-second.jpg) center left / cover no-repeat;
        color: $black;
        // size image
        // background: url(../images/background-black.jpg) center center / 200px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    // start insert image into an before and its position

    &__item {
        position: relative;
    }

    &__link {
        display: block;
        padding: 74px 13% 74px 44%;
        text-decoration: none;
        color: inherit;
        height: 100%;
        font-family: $textFont;
        // link to all block
        position: relative;
        box-sizing: border-box;
        height: 100%;
        // end link to all block

        &:hover %button {
            color: $white;
            text-decoration: none;
            background-color: $red;
        }

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    &__title {
        font-family: $titleFont;
        font-size: 70px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 11px;
    }

    &__desc {
        font-family: $generalFont;
        font-size: 25px;
        margin-bottom: 28px;
        color:$black;
        font-weight: bold;
    }

    &__btn {
        @extend %button;
        &--color-yellow {
            background: $yellow;
            color: $black;
        }
        &--color-black {
            color: $white;
            background: $black;
        }
    }
}

.footer {
    margin-bottom: 115px;
    display: flex;
    justify-content: space-between;
    .site-menu {
        margin-bottom: 120px;
        &-sections {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 75px;
        }
        &__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 45px;
        }
        &__col:last-child {
            // margin-bottom: 0;
        }

        &__title {
            font-family: $titleFont;
            font-size: 24px;
            font-weight: bold;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 24px;
            white-space: nowrap;
        }
        &__item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            color: $black;
            font-size: 15px;
            text-decoration: none;
            font-family: $textFont;
            &:hover {
                color: $red;
            }
        }
        &__text {
            font-size: 15px;
            color: $black;
            margin-bottom: 30px;
            &-row {
                color: inherit;
                text-decoration: none;
                display: block;
                margin-bottom: 5px;
            }
        }
    }

    .extras {
        display: flex;
        flex-direction: column;
        &__col {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            //split columns proportionally
            &-socials {
                text-align: center;
                height: 100%;
                background: url(../images/background-yellow.jpg) center center / cover no-repeat;
            }
        }

        &__best {
            text-align: center;
            color: $white;
            background: url(../images/background-black.jpg) center center / cover no-repeat;
            font-size: 50px;
            font-weight: bold;
            font-family: $generalFont;
            padding: 30px;
            height: 100%;
            display: block;
            line-height: 1;
            &:hover {
                text-decoration: none;
                color: $red;
            }
            &__col-social {
                height: 100%;
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }
        .socials {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 20px 0;
            &__link {
                width: 20px;
                height: 20px;
                &:hover .socials__icon {
                    fill: $red;
                }
            }
            &__icon {
                width: 100%;
                height: 100%;
                display: block;
                fill: $black;
            }
            &__item {
                width: 50px;
                height: 50px;
                // margin-right: 38px;
                margin-bottom: 38px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__item:last-child {
                margin-right: 0;
            }
        }
    }
}

// Small devices sm
@media (max-width: 767px) {
}

// Small devices and Tablets md
@media (min-width: 768px) {
    .hero {
        padding-left: 75px;
        .header {
            padding-top: 10px;
            flex-direction: row;
        }

        .sidebar {
            height: 100%;
            width: 75px;
            transition-property: width;
            transition-duration: 0.7s;

            &--opened {
                width: 350px;
                height: 100%;
                padding: 0 3% 0 4%;
            }

            &--opened .sidebar__menu {
                transition-delay: 0.7s;
            }
        }
    }
}

// Medium devices and Desktop lg
@media (min-width: 992px) {
    .collections {
        &__list {
            flex-direction: row;
        }

        &__item {
            margin-bottom: 0;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// Large devices and Screens xl
@media (min-width: 1200px) {
}
