/*
 * Все паршалы импортировать в этот файл
 */

@import "normalize.scss";
// @import "bootstrap.min.scss"
@import "product.scss";

// font-family: 'Roboto', sans-serif;
// font-family: 'Modak', cursive;
$white: #fff;
$yellow: #ffc92f;
$red: #d82727;
$black: #1b1b1b;
$titleFont: "Modak", cursive;

%button {
    text-transform: uppercase;
    font-size: 24px;
    padding: 2px 30px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        color: $white;
        background-color: $red;
    }
}

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    font: 16px / 1.42 "Roboto", Arial, sans-serif;
    // font-size: 16px;
    // line-height: 1.42;
    // font-family: "Roboto", Arial, sans-serif;
    color: $black;
    // Сглаживание шрифтов
    -webkit-font-snoothing: antialiased;
    -moz-osx-font-snoothing: grayscale;
}
ul {
    margin: 0;
    padding: 0;
    & > li {
        list-style: none;
    }
}
.wrapper {
    overflow: hidden;
    min-width: 1320px;
}
// .container {
//     margin: 0 auto;
//     max-width: 1320px;
// }

.hero {
    position: relative;
    height: 100%;
    margin-bottom: 150px;
    min-height: 100vh;
    background: url(../images/hero-pic.jpg) center center / cover no-repeat;
    // background-image: url(../images/green.jpg);
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;
    
    .header {
        margin: 0 auto 0 auto;

        // margin: 0 auto;

        // margin-top: 0;
        // margin-right: auto;
        // margin-bottom: 0;
        // margin-left: auto;

        width: 1290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo__img{
        }
        .mail {
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            background:$black;
            padding: 5px;
            border-radius: 5px;

            &__title {
                color: $yellow;
                margin-bottom: 3px;
            }
            &__contant {
                background-color: $black;
                color: $white;
            }
        }
    }

    .fade-slider {
        width: 100%;
        height: 100%;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 30%;
            height: 30%;
            bottom: 10%;
            right: 0%;
            background:url(../images/slider-pic.png) center center / contain no-repeat;
            z-index: 100;
            transform: rotate(-20deg);
        }
        &__container {
            position: absolute;
            width: 75%;
            height: 75%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__item {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: center center / contain no-repeat;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 20px;
            transition: opacity 1s;
            &--slide-first{
                background-image: url(../images/slide-first.jpg);
            }
            &--slide-second{
                background-image: url(../images/slide-second.jpg);
            }
            &--slide-third{
                background-image: url(../images/slide-third.jpg);
            }
            &--slide-fourth{
                background-image: url(../images/slide-fourth.jpg);
            }
            &--visible{
                opacity: 1;
            }
        }
        &__text {
            // fixation absolute text for reuse
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-150%, -100%);
            .lined-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                line-height: 1;
                color: $white;
                font-size: 36px;
                text-transform: uppercase;
                &__word:nth-child(2n) {
                    margin-left: 10px;
                }
                &__word {
                    background-color: $black;
                    display: inline-block;
                    &--color-yellow {
                        color: $yellow;
                        background-color: $black;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 75px;
        background: $black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: width 0.5s;
        &--opened {
            width: 325px;
            padding: 0 3% 0 4%;
        }
        &--opened .sidebar__header {
            display: flex;
        }
        &--opened .sidebar {
            position: absolute;
            width: 100%;
            text-align: center;
            width: 325px;
        }
        &--opened .sidebar__menu {
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            transition-delay: 0.7s;
        }
        &__menu {
            position: absolute;
            left: -400px;
        }
        &__hamburger {
            display: block;
            position: absolute;
            top: 27px;
            left: 50%;
            transform: translateX(-50%);
        }
        &--opened .sidebar__hamburger {
            display: none;
        }
        &__hamburger-icon {
            width: 30px;
            height: 30px;
            fill: $yellow;
            &:hover {
                fill: $red;
            }
        }
        &__header {
            position: absolute;
            top: 20px;
            left: 0px;
            right: 0;
            display: none;
            justify-content: center;
        }
        &__close {
            position: absolute;
            top: -23px;
            right: -1px;
            cursor: pointer;
        }
        &__close-icon {
            width: 30px;
            height: 30px;
            fill: $yellow;
            &:hover {
                fill: $red;
            }
        }
        .side-menu {
            &__link {
                font-size: 24px;
                color: $yellow;
                text-transform: uppercase;
                font-family: $titleFont;
                text-decoration: none;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

.products {
    margin-bottom: 160px;
    .filter {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        &__item {
            margin-right: 40px;
            &--active .filter__link{
                background-color: #000;
                color: $yellow;
                &:hover {
                    color: $yellow;
                }
            }
        }
        &___item:last-child {
            margin-right: 0;
        }
        &__link {
            text-transform: uppercase;
            padding: 5px 21px;
            color: $black;
            font-weight: bold;
            display: inline-block;
            text-decoration: none;
            font-family: $titleFont;
            &:hover {
                text-decoration: none;
                color: $red;
            }
         
        }
    }

    .product {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -27px;
        }
        &__item {
            width: 300px;
            height: 350px;
            background-color: $yellow;
            margin-bottom: 35px;
            margin-left: 27px;
            &--color-black {
                background: url(../images/background-black.jpg) center center / cover no-repeat;
                & .product__price {
                    border-bottom-color: $yellow;
                    &-amount {
                        color: $black;
                    }
                }
            }
            &--color-yellow {
                background: url(../images/background-yellow.jpg) center center / cover no-repeat;
            }
            &--size-double {
                width: 620px;
                height: 544px;
            }
            position: relative;
        }
        // uneven price figure
        &__price {
            position: absolute;
            left: -15px;
            top: 15px;
            width: 160px;
            // height: 160px; -noheight
            border-bottom: 43px solid $black;
            border-left: 5px solid transparent;
            border-right: 2px solid transparent;
            transform: rotate(-182deg);
        }
        &__price-amount {
            font-size: 30px;
            font-weight: bold;
            color: $white;
            transform: rotate(185deg);
            position: absolute;
            top: 0;
            right: 25px;
        }
        &__content {
            height: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            // img block limit
            display: block;
            max-width: 80%;
            max-height: 80%;
            transform: rotate(25deg);
        }
        &__desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            color: $white;
            font-size: 15px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 23px 35px;
            background: rgba($color: #000000, $alpha: 0.5);

            //start  hide description behind the visible part
            transform: translateY(100%);
            transition: transform 0.3s;
        }
        &__item:hover .product__desc {
            transform: translateY(0);
        }
        &__content {
            overflow: hidden;
        }
        // end hide description behind the visible part

        &__desc--text {
            text-align: center;
            margin-bottom: 18px;
        }
        &__btn {
            @extend %button;
            background: $black;
            color: $yellow;
        }
    }
}
.collections {
    margin-bottom: 135px;
    &__list {
        display: flex;
    }
    &__item {
        min-height: 474px;
        flex: 1;
        overflow: hidden;
        margin-right: 30px;
        background: url(../images/collections-pic-first.jpg) center center / cover no-repeat;
    }
    &__item:nth-child(2n) {
        background: url(../images/collections-pic-second.jpg) center center / cover no-repeat;
        color: $white;
        // size image
        // background: url(../images/background-black.jpg) center center / 200px;
    }
    &__item:last-child {
        margin-right: 0;
    }
    // start insert image into an before and its position
    &__item {
        position: relative;
    }
    &__item:before {
        content: "";
        display: block;
        position: absolute;
        width: 40%;
        height: 40%;
        top: 20%;
        left: 0%;
        background: center center / contain no-repeat;
    }
    &__item--type-robusta:before {
        background-image: url(../images/robusta.png);
    }
    &__item--type-arabica:before {
        background-image: url(../images/arabica.png);
    }
    // end insert image into an before and its position
    &__link {
        display: block;
        padding: 74px 13% 74px 44%;
        text-decoration: none;
        color: inherit;
        height: 100%;
        // link to all block
        position: relative;
        box-sizing: border-box;
        height: 100%;
        // end link to all block
        &:hover %button {
            color: $white;
            text-decoration: none;
            background-color: $red;
        }
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
    &__title {
        font-family: $titleFont;
        font-size: 70px;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 11px;
    }
    &__desc {
        margin-bottom: 28px;
    }
    &__btn {
        @extend %button;
        &--color-yellow {
            background: $yellow;
            color: $black;
        }
        &--color-black {
            color: $white;
            background: $black;
        }
    }
}

.footer {
    margin-bottom: 115px;
    display: flex;
    justify-content: space-between;
    .site-menu {
        margin-bottom: 120px;
        &-sections {
            display: flex;
            justify-content: space-between;
            padding: 0 75px;
        }
        &__col {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__col:last-child {
            margin-right: 0;
        }

        &__title {
            font-family: $titleFont;
            font-size: 24px;
            font-weight: bold;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        &__title {
            margin-bottom: 15px;
        }
        &__link {
            color: $black;
            font-size: 15px;
            text-decoration: none;
            &:hover {
                color: $red;
            }
        }
        &__text {
            font-size: 15px;
            color: $black;
            margin-bottom: 30px;
            &-row {
                color: inherit;
                text-decoration: none;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}

.extras {
    display: flex;
    margin-bottom: 95px;
    &__col {
        margin-right: 20px;
        //split columns proportionally
        flex: 1;
        &-socials {
            text-align: center;
            height: 100%;
            background: url(../images/background-yellow.jpg) center center / cover no-repeat;
        }
    }
    &__best {
        text-align: center;
        color: $white;
        background: url(../images/background-black.jpg) center center / cover no-repeat;
        font-size: 50px;
        font-weight: bold;
        // font-family: $titleFont;
        padding: 39px;
        display: block;
        line-height: 1;
        &:hover {
            text-decoration: none;
            color: $red;
        }
        &__col-social {
            height: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }
    .socials {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        &__link {
            width: 20px;
            height: 20px;
            &:hover .socials__icon {
                fill: $red;
            }
        }
        &__icon {
            width: 100%;
            height: 100%;
            display: block;
            fill: $black;
        }
        &__item {
            width: 50px;
            height: 50px;
            margin-right: 38px;
        }
        &__item:last-child {
            margin-right: 0;
        }
    }
}
